.authFrame {
    width: 20%;
    height: auto;
    margin: 0 auto;
    outline: 2px solid steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.authFrame__email,
.authFrame__password {
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.controls {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    margin: 10px;
}